<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラムオセロ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="main" id="main" style="display: block;">
      <div class="logo">
          <h1>Ram Othello</h1>
      </div>
      <div class="buttons">
          <div class="wrap" id="start">
              <button class="button n" style="margin: 6%;"><i class="fas fa-chess-board fa-spin" style="margin: 5%;"></i>対局開始</button>
          </div>
          <div class="wrap">
              <button class="button n1" style="margin: 6%;" onclick="botGame()"><i class="fas fa-eye" style="margin: 3%;"></i>ボットと対戦する</button>
          </div>
          <div class="wrap">
              <button class="button n2" style="margin: 6%;" onclick="userPage()" ><i class="fas fa-user" style="margin: 3%;"></i>マイページ</button>
          </div>
      </div>
      <div class="wrapper">
          <div class="icon home">
              <div class="tooltip">home</div>
              <span><i class="fas fa-home"></i></span>
          </div>
          <div class="icon instagram">
            <div class="tooltip">観戦</div>
            <span><i class="fas fa-eye"></i></span>
          </div>
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </div>
      
      </div>
      <% if(locals.username != undefined) {%>
        <p><%= locals.username %>でログイン中です</p>
      <% } else {%>
        <p><a href="/login">ログイン</a>していません</p>
      <% } %>
      <p>入場者数: <span id="userCount">0</span>人</p>
      <p style="display: none;" id="logined"><%= locals.username %></p>
    </div>
    <div id="wait" class="wait" style="display: none;">
      <div class="main">
        <div class="load">
          <h1 class="number">マッチング中</h1>
          <i class="fas fa-spinner fa-spin fa-5x" style="color: black;"></i>
          <h2 class="number" id="waitingCount">0人が待機中</h2>
          <div class="wrapper">
            <div class="icon back" id="back">
              <div class="tooltip">戻る</div>
              <span><i class="fas fa-long-arrow-alt-left"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="time1" id="time1" style="display: none;">
      <div class="timer"><div class="now" id="p1"></div></div>
      <div id="kihu_finish_edi" onclick="kihu_finish_edi()" style="display: none;">
        <button type="button" class="kihu_button" style="background-color: orange;">編集終了
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </div>
      <div id="kihu_finish" onclick="kihu_finish()">
        <button type="button" class="kihu_button" style="background-color: red;">戻る
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </div>
    </div>
    <div class="border" id="border" style="display: none;">
      <div class="content">
          <div class="ban" id="1" onclick="yech(this.id)"></div>
          <div class="ban" id="2" onclick="yech(this.id)"></div>
          <div class="ban" id="3" onclick="yech(this.id)"></div>
          <div class="ban" id="4" onclick="yech(this.id)"></div>
          <div class="ban" id="5" onclick="yech(this.id)"></div>
          <div class="ban" id="6" onclick="yech(this.id)"></div>
          <div class="ban" id="7" onclick="yech(this.id)"></div>
          <div class="ban" id="8" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="9" onclick="yech(this.id)"></div>
          <div class="ban" id="10" onclick="yech(this.id)"></div>
          <div class="ban" id="11" onclick="yech(this.id)"></div>
          <div class="ban" id="12" onclick="yech(this.id)"></div>
          <div class="ban" id="13" onclick="yech(this.id)"></div>
          <div class="ban" id="14" onclick="yech(this.id)"></div>
          <div class="ban" id="15" onclick="yech(this.id)"></div>
          <div class="ban" id="16" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="17" onclick="yech(this.id)"></div>
          <div class="ban" id="18" onclick="yech(this.id)"></div>
          <div class="ban" id="19" onclick="yech(this.id)"></div>
          <div class="ban" id="20" onclick="yech(this.id)"></div>
          <div class="ban" id="21" onclick="yech(this.id)"></div>
          <div class="ban" id="22" onclick="yech(this.id)"></div>
          <div class="ban" id="23" onclick="yech(this.id)"></div>
          <div class="ban" id="24" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="25" onclick="yech(this.id)"></div>
          <div class="ban" id="26" onclick="yech(this.id)"></div>
          <div class="ban" id="27" onclick="yech(this.id)"></div>
          <div class="ban" id="28" onclick="yech(this.id)"></div>
          <div class="ban" id="29" onclick="yech(this.id)"></div>
          <div class="ban" id="30" onclick="yech(this.id)"></div>
          <div class="ban" id="31" onclick="yech(this.id)"></div>
          <div class="ban" id="32" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="33" onclick="yech(this.id)"></div>
          <div class="ban" id="34" onclick="yech(this.id)"></div>
          <div class="ban" id="35" onclick="yech(this.id)"></div>
          <div class="ban" id="36" onclick="yech(this.id)"></div>
          <div class="ban" id="37" onclick="yech(this.id)"></div>
          <div class="ban" id="38" onclick="yech(this.id)"></div>
          <div class="ban" id="39" onclick="yech(this.id)"></div>
          <div class="ban" id="40" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="41" onclick="yech(this.id)"></div>
          <div class="ban" id="42" onclick="yech(this.id)"></div>
          <div class="ban" id="43" onclick="yech(this.id)"></div>
          <div class="ban" id="44" onclick="yech(this.id)"></div>
          <div class="ban" id="45" onclick="yech(this.id)"></div>
          <div class="ban" id="46" onclick="yech(this.id)"></div>
          <div class="ban" id="47" onclick="yech(this.id)"></div>
          <div class="ban" id="48" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="49" onclick="yech(this.id)"></div>
          <div class="ban" id="50" onclick="yech(this.id)"></div>
          <div class="ban" id="51" onclick="yech(this.id)"></div>
          <div class="ban" id="52" onclick="yech(this.id)"></div>
          <div class="ban" id="53" onclick="yech(this.id)"></div>
          <div class="ban" id="54" onclick="yech(this.id)"></div>
          <div class="ban" id="55" onclick="yech(this.id)"></div>
          <div class="ban" id="56" onclick="yech(this.id)"></div>
      </div>
      <div class="content">
          <div class="ban" id="57" onclick="yech(this.id)"></div>
          <div class="ban" id="58" onclick="yech(this.id)"></div>
          <div class="ban" id="59" onclick="yech(this.id)"></div>
          <div class="ban" id="60" onclick="yech(this.id)"></div>
          <div class="ban" id="61" onclick="yech(this.id)"></div>
          <div class="ban" id="62" onclick="yech(this.id)"></div>
          <div class="ban" id="63" onclick="yech(this.id)"></div>
          <div class="ban" id="64" onclick="yech(this.id)"></div>
      </div>
    </div>
    <div class="time2" id="time2" style="display: none;">
      <div class="timer2"><div class="now" id="p2"></div></div>
      <div id="kihu_back" style="display: none;" onclick="kihu_back()">
        <button type="button" class="kihu_button">戻る
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </div>
      <div id="kihu_next" style="display: none;" onclick="kihu_next()">
        <button type="button" class="kihu_button">進む
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </div>
    </div>

    <div id="non" class="non" style="display: none;">
      <div class="con">
          <div class="alerts">通知ダイアログ</div>
          <div class="alert" id="alert"><a href="#" id="link"></a></div>
          <button class="button-37" role="button" id="button">OK!</button>
      </div>
  </div>

  <div class="main" id="myPage" style="display: none;">
    <h1 id="m_username"></h1>
    <h2 id="m_win"></h2>
    <h2 id="m_lose"></h2>
    <h2 id="m_wake"></h2>
    <div class="wrap">
      <button class="button n2" style="margin: 6%;" onclick="review()" >棋譜</button>
    </div>
    <div class="wrap">
      <button class="button n2" style="margin: 6%;" onclick="backto()" >戻る</button>
    </div>
    <a href="/logout">ログアウト</a>
  </div>

  </body>
  <script src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script>
  <script>
    // ダイアログを開く処理
    const WaitForClick = () => new Promise(resolve => document.getElementById("button").addEventListener("click", (e) => {
      resolve();
    }));
    async function al(e) {
      getId("non").style.display = "flex";
      getId("border").style.pointerEvents = "none";
      getId("border").style.opacity = "0.5";
      getId("alert").innerHTML = e;
      console.log(e);
      await WaitForClick();
      console.log(e);
      getId("non").style.display = "none";
      getId("border").style.pointerEvents = "auto";
      getId("border").style.opacity = "1.0";  
    }
  </script>
  <script>
    //　マイページ
    function userPage() {
       document.getElementById("main").style.display = "none";
       document.getElementById("myPage").style.display = "block";
       $.ajax({
          async: false,
              url: 'http://localhost:3000/mypage',
          type: 'post',
          dataType: 'json'
                }).done(function(res){
                  if(!Object.keys(res).length) {
                    al("ログインしてください！");
                    backto();
                  } else {
                    document.getElementById("m_username").innerHTML = res.name;
                    document.getElementById("m_win").innerHTML = res.win;
                    document.getElementById("m_lose").innerHTML = res.lose;
                    document.getElementById("m_wake").innerHTML = res.total - res.win - res.lose;
                  }
                }).fail(function(xhr, status, error){
                   alert("えらーーーーーーーーーーーーらーーらーらーー");
                });
    }
    function backto() {
      document.getElementById("main").style.display = "block";
      document.getElementById("myPage").style.display = "none";
    }
  </script>
  <script>
        $(window, document, undefined).ready(function() {
var $ripples = $('.ripples');

$ripples.on('click.Ripples', function(e) {

  var $this = $(this);
  var $offset = $this.parent().offset();
  var $circle = $this.find('.ripplesCircle');

  var x = e.pageX - $offset.left;
  var y = e.pageY - $offset.top;

  $circle.css({
    top: y + 'px',
    left: x + 'px'
  });

  $this.addClass('is-active');

});

$ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
  $(this).removeClass('is-active');
});

});
  </script>
</html>
